threadpoolctl==3.6.0
langchain==0.3.21
executing==2.1.0
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
protobuf==5.29.4
decorator==5.1.1
idna==3.10
traitlets==5.14.3
zstandard==0.23.0
nest_asyncio==1.6.0
SQLAlchemy==2.0.39
kiwisolver==1.4.8
ptyprocess==0.7.0
pillow==11.1.0
nltk==3.9.1
pyzmq==26.2.1
zope.interface==7.2
gensim==4.3.3
ollama==0.4.7
parso==0.8.4
importlib_metadata==8.6.1
colorama==0.4.6
uvicorn==0.34.0
zipp==3.21.0
Whoosh==2.7.4
anyio==4.9.0
requests==2.32.3
frozenlist==1.5.0
transformers==4.50.1
pickleshare==0.7.5
debugpy==1.8.12
attrs==25.3.0
httpx-sse==0.4.0
pydantic==2.10.6
torchaudio==2.2.2
soupsieve==2.6
sympy==1.13.3
pathlib==1.0.1
mypy-extensions==1.0.0
h11==0.14.0
GitPython==3.1.44
huggingface-hub==0.29.3
networkx==3.4.2
pyparsing==3.2.3
jedi==0.19.2
joblib==1.4.2
ipython==8.32.0
typing-inspect==0.9.0
sentry-sdk==2.24.1
pytz==2024.1
jupyter_client==8.6.3
beautifulsoup4==4.13.3
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
exceptiongroup==1.2.2
bert-score==0.3.13
jsonpatch==1.33
click==8.1.8
fastapi==0.115.11
jsonpointer==3.0.0
appnope==0.1.4
numpy==1.26.4
multidict==6.2.0
scipy==1.15.1
tokenizers==0.21.1
tenacity==9.0.0
openai==1.68.2
torchtext==0.17.2
absl-py==2.2.0
async-timeout==4.0.3
stack_data==0.6.3
rouge-score==0.1.2
dataclasses-json==0.6.7
multiprocess==0.70.16
psutil==6.1.1
jupyter_core==5.7.2
python-dotenv==1.0.1
xxhash==3.5.0
pip==25.0.1
regex==2024.11.6
propcache==0.3.0
langsmith==0.3.18
fsspec==2024.12.0
gitdb==4.0.12
sniffio==1.3.1
pydantic-settings==2.8.1
langchain-core==0.3.47
fonttools==4.56.0
aiohttp==3.11.14
python-dateutil==2.9.0.post0
mpmath==1.3.0
yarl==1.18.3
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
wandb==0.19.8
torch==2.2.2
certifi==2025.1.31
setproctitle==1.3.5
langchain-community==0.3.20
evaluate==0.4.3
tzdata==2025.1
pydantic_core==2.27.2
httpcore==1.0.7
cycler==0.12.1
Jinja2==3.1.6
torchvision==0.17.2
pyarrow==19.0.1
dill==0.3.8
comm==0.2.2
accelerate==1.5.2
pure_eval==0.2.3
DateTime==5.5
tornado==6.4.2
distro==1.9.0
starlette==0.46.1
docker-pycreds==0.4.0
langchain-text-splitters==0.3.7
aiohappyeyeballs==2.6.1
smart_open==7.1.0
requests-toolbelt==1.0.0
contourpy==1.3.1
wrapt==1.17.2
orjson==3.10.15
wheel==0.32.3
bs4==0.0.2
setuptools==49.6.0
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
matplotlib-inline==0.1.7
smmap==5.0.2
safetensors==0.5.3
matplotlib==3.10.1
conllu==6.0.0
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipykernel==6.29.5
marshmallow==3.26.1
annotated-types==0.7.0
filelock==3.17.0
six==1.17.0
jiter==0.9.0
greenlet==3.1.1
datasets==3.4.1
MarkupSafe==3.0.2
